# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Env files (НИКОГДА не коммить!)
.env
.env.local
.env.example

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Go
/go/bin/
/go/pkg/